// Variables
$text-default: #424242
$bg-color: #f9f9f9
$orange: #eb6e47

::selection
  background-color: $orange
  color: $bg-color

a
  outline-color: $orange

body
  background-color: $bg-color
  -webkit-text-size-adjust: none

a, label
  -webkit-tap-highlight-color: $orange

// Утилиты и нормализация
@import "utility/_normalize.sass"
@import "utility/_utility.sass"
@import "utility/_custom.sass"

// Сетка
// @import "grid/_grid.sass"
@import "grid/_gridv2.sass"

// Шрифты
@import "typography/_font.sass"

// Компонетны
@import "components/_top-nav-flex.sass"
@import "components/_address.sass"
@import "components/_slick.sass"
@import "components/_features.sass"
@import "components/_merge.sass"
@import "components/_footer.sass"
@import "components/_bottom-nav.sass"
@import "components/_button.sass"
@import "components/_outdatedbrowser.scss"
@import "components/_catalog.sass"
@import "components/_table.sass"
@import "components/_list.sass"