doctype
html(lang="ru")
  head

    // ☢ Служебные ☢
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")

    // ☢ DNS-Предзагрузка ☢
    title 404
    meta(name="description" content="Страница 404. Пенополистирол можно купить по ссылке http://penoplast-klester.ru")
    meta(name="keywords" content="404")
    meta(name="robots" content="noindex")

    // ☢ Подключение CSS ☢
    link(rel="stylesheet" type="text/css" href="css/main.css")
    // ⚠️ Подключение в web-master ⚠️
    include _section/_web-master.jade

    // ⚠️ Favicon для всех случаев генерируется тут: http://realfavicongenerator.net/ ⚠️
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")

    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Купить пенополистирол в Калининграде")
    meta(property="og:description" content="Выгодная цена на пенополистирол (пенопласт) от производителя. Доставка по Калининграду и области. Марки ПСБ-С разной плотности. Для утепления фасада, пола и перегородок")
    meta(property="og:image" content="img/eps-item.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://penoplast-klester.ru/")

    // © Copyright ©
    meta(name="author" content="Роман Волгасов")
    meta(type="text/plain" rel="author" href="http://romanvolgasov.ru/humans.txt")

  body
    .page404
      .outdated
      a.page404__link-img(href="/" title="На главную")
      h1.sr-only 404
      p.page404__description Здесь ничего нет. Вернитесь на 
        a(href="/" title="Главная страница сайта") главную страницу 
      | сайта.
      span.page404__title 40
        span.transform 4

    // ☢ Подключаем скрипты ☢
    include _section/_script/_metrika.jade