doctype
html(lang="ru")
  head

    // ☢ Служебные ☢
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")

    // ☢ DNS-Предзагрузка ☢
    title Купить пенополистирол в Калининграде
    meta(name="description" content="Купить пенополистирол по цене производителя. Доставка по Калининграду и области. Низкая стоимость. Мы производим марки ПСБ-С 15, ПСБ-С 25, ПСБ-С 35")
    meta(name="keywords" content="пенополистирол, пенопласт, псб-с, купить, цена, калининград, производитель, стоимость, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://penoplast-klester.ru/")

    // ☢ Подключение CSS ☢
    link(rel="stylesheet" type="text/css" href="css/main.css")
    // ⚠️ Подключение в web-master ⚠️
    include _section/_web-master.jade

    // ⚠️ Favicon для всех случаев генерируется тут: http://realfavicongenerator.net/ ⚠️
    link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")

    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Купить пенополистирол в Калининграде")
    meta(property="og:description" content="Выгодная цена на пенополистирол (пенопласт) от производителя. Доставка по Калининграду и области. Марки ПСБ-С разной плотности. Для утепления фасада, пола и перегородок")
    meta(property="og:image" content="img/eps-item.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://penoplast-klester.ru/")

    // © Copyright ©
    meta(name="author" content="Роман Волгасов")
    link(type="text/plain" rel="author" href="http://romanvolgasov.ru/")

  body.hyphenate

    .outdated

    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Пенополистирол купить в Калининграде
            include _section/_menu/_top-menu-level-1.jade
            include _section/_block/_address.jade

    section.container
      .row
        .col-xs-12
          h2.donthyphenate(style="text-align: left") Производство и продажа утеплителей из пенополистирола в Калининградской области
        nav.col-xs-12
          h2.sr-only Навигация по каталогу
          ul.catalog-list.controls
            li.filter.top-nav__item(data-filter=".all") Всё
            li.filter.top-nav__item(data-filter=".psb25") Пенополистирол на фасад
            li.filter.top-nav__item(data-filter=".psb35") Пенополистирол на пол
            li.filter.top-nav__item(data-filter=".psb15") Пенополистирол для перегородок

        .col-xs-12.catalog-grid

          .mix.catalog-item.psb15.all
            figure.catalog-item__figure
              img.img-responsive.img-rounded(src="img/eps-item.png" alt="ПСБ-15 ТУ")
              figcaption.catalog-item__caption ПСБ-15 ТУ
            table.catalog-item__table
              tr
                td Толщины:
                td 50 / 80 / 100 мм
              tr
                td В упаковке:
                td 12 / 7 / 6 шт
              tr
                td Плотность:
                td 9 кг/м
                  sup 3
            span.catalog-item__price 1289 руб. м
              sup 3
            a.btn-flat.orange.btn-responsive-center(href="catalog/penopolistirol-15-tu/" title="ПСБ-15 ТУ") Подробнее

          .mix.catalog-item.psb15.all
            figure.catalog-item__figure
              img.img-responsive.img-rounded(src="img/eps-item.png" alt="ПСБ-15 ГОСТ")
              figcaption.catalog-item__caption ПСБ-15 ГОСТ
            table.catalog-item__table
              tr
                td Толщины:
                td 30 / 50 / 80 / 100 мм
              tr
                td В упаковке:
                td 20 / 12 / 7 / 6 шт
              tr
                td Плотность:
                td 11 кг/м
                  sup 3
            span.catalog-item__price 1639 руб. м
              sup 3
            a.btn-flat.orange.btn-responsive-center(href="catalog/penopolistirol-15-gost/" title="ПСБ-15 ГОСТ") Подробнее

          .mix.catalog-item.psb25.all
            figure.catalog-item__figure
              img.img-responsive.img-rounded(src="img/eps-item.png" alt="ПСБ-25 ТУ")
              figcaption.catalog-item__caption ПСБ-25 ТУ
            table.catalog-item__table
              tr
                td Толщины:
                td 30 / 50 / 80 / 100 мм
              tr
                td В упаковке:
                td 20 / 12 / 7 / 6 шт
              tr
                td Плотность:
                td 13 кг/м
                  sup 3
            span.catalog-item__price 1990 руб. м
              sup 3
            a.btn-flat.orange.btn-responsive-center(href="catalog/penopolistirol-25-tu/" title="ПСБ-25 ТУ") Подробнее

          .mix.catalog-item.psb25.all
            figure.catalog-item__figure
              img.img-responsive.img-rounded(src="img/eps-item.png" alt="ПСБ-25 ГОСТ")
              figcaption.catalog-item__caption ПСБ-25 ГОСТ
            table.catalog-item__table
              tr
                td Толщины:
                td 30 / 50 / 80 / 100 мм
              tr
                td В упаковке:
                td 20 / 12 / 7 / 6 шт
              tr
                td Плотность:
                td 15 кг/м
                  sup 3
            span.catalog-item__price 2290 руб. м
              sup 3
            a.btn-flat.orange.btn-responsive-center(href="catalog/penopolistirol-25-gost/" title="ПСБ-25 ГОСТ") Подробнее

          .mix.catalog-item.psb35.all
            figure.catalog-item__figure
              img.img-responsive.img-rounded(src="img/eps-item.png" alt="ПСБ-35 ТУ")
              figcaption.catalog-item__caption ПСБ-35 ТУ
            table.catalog-item__table
              tr
                td Толщины:
                td 30 / 50 / 80 / 100 мм
              tr
                td В упаковке:
                td 20 / 12 / 7 / 6 шт
              tr
                td Плотность:
                td 17 кг/м
                  sup 3
            span.catalog-item__price 2590 руб. м
              sup 3
            a.btn-flat.orange.btn-responsive-center(href="catalog/penopolistirol-35-tu/" title="ПСБ-35 ТУ") Подробнее

          .mix.catalog-item.psb35.all
            figure.catalog-item__figure
              img.img-responsive.img-rounded(src="img/eps-item.png" alt="ПСБ-35 ТУ Супер")
              figcaption.catalog-item__caption ПСБ-35 ТУ Супер
            table.catalog-item__table
              tr
                td Толщины:
                td 30 / 50 / 80 / 100 мм
              tr
                td В упаковке:
                td 20 / 12 / 7 / 6 шт
              tr
                td Плотность:
                td 19 кг/м
                  sup 3
            span.catalog-item__price 2999 руб. м
              sup 3
            a.btn-flat.orange.btn-responsive-center(href="catalog/penopolistirol-35-super/" title="ПСБ-35 ТУ Супер") Подробнее

    section.container-fluid.merge
      .container
        .row
          .col-xs-12
            h2.donthyphenate Почему пенополистирол?
          include _section/_block/_merge.jade

    section.container.features
      .row
        .col-xs-12
          h2.donthyphenate Почему мы?
        include _section/_block/_features.jade

    section.container
      .row
        .col-xs-12
          h2.donthyphenate Производство
        .col-sm-4.production
          p «KLESTER System» — это торговая марка, основанная на лучших традициях европейского качества.
          p Высокие стандарты производства обеспечивают превосходное качество продукта за счёт профессионального уровня и передового технологичного оборудования.
          p.hidden-sm «KLESTER System» вносит очень важный вклад в повышение качества жизни, используя только экологически чистое и природное сырье для производства пенополистирола.
          p.hidden-sm Завод предлагает качественный продукт соответсвующий нормам ГОСТ 15588-86. Контроль продукции производится на каждом этапе специалистами лабараторий и исследовательских центров.
        .col-sm-8
          include _section/_block/_slick-a-side.jade

    include _section/_block/_footer/_footer-level-1.jade

    // ☢ Подключаем скрипты ☢
    include _section/_script/_script-ie.jade
    script(src="js/jquery-3.2.1.slim.min.js")
    script(src="js/Hyphenator.js")
    script(src="js/outdatedbrowser.min.js")
    script(src="js/mixitup.min.js")
    script(src="js/jquery.waypoints.min.js")
    script(src="js/slick.min.js")
    script(src="js/custom.js")
    script.
      Hyphenator.run();
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
          func();
          }
        }
      }
      $(".catalog-grid").mixItUp({
      });
      //call plugin function after DOM ready
      addLoadEvent(function(){
        outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'transform',
          languagePath: 'js/lang/ru.html'
        })
      });
      // Slik
      $(document).ready(function() {
        $(".single").slick({
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 2500,
          pauseOnFocus: true
        });
        $(".vertical").slick({
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: true,
          arrows: false,
        });
      });
      (function(){ var widget_id = 'gtx7Ntq4Zr';var d=document;var w=window;function l(){
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    include _section/_script/_metrika.jade