doctype
html(lang="ru")
  head

    // ☢ Служебные ☢
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")

    // ☢ DNS-Предзагрузка ☢
    title Купить пенополистирол ПСБ-С 35 ТУ
    meta(name="description" content="Купить напольный пенополистирол (пенопласт) ПСБ-С 35 ТУ, всегда в наличии. Доставка по Калининграду и области.")
    meta(name="keywords" content="пенополистирол, пенопласт, псб-с, купить, цена, калининград, производитель, утепление, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://penoplast-klester.ru/catalog/penopolistirol-35-tu/")

    // ☢ Подключение CSS ☢
    link(rel="stylesheet" type="text/css" href="../../css/main.css")
    // ⚠️ Подключение в web-master ⚠️
    include ../../_section/_web-master.jade

    // ⚠️ Favicon для всех случаев генерируется тут: http://realfavicongenerator.net/ ⚠️
    link(rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png")

    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Купить пенополистирол ПСБ-С 35 ТУ")
    meta(property="og:description" content="Купить пенополистирол (пенопласт) ПСБ-С 35 ТУ, всегда в наличии. Доставка по Калининграду и области. Применяется для утепления пола, фасадов, подвалов.")
    meta(property="og:image" content="../../img/eps-item.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://penoplast-klester.ru/catalog/penopolistirol-35-tu/")

    // © Copyright ©
    meta(name="author" content="Роман Волгасов")
    link(type="text/plain" rel="author" href="http://romanvolgasov.ru/humans.txt")

  body.hyphenate
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Купить пенополистирол ПСБ-С 35 ТУ
            include ../../_section/_menu/_top-menu-level-2.jade
            include ../../_section/_block/_address.jade

    section.container
      .row
        .col-xs-12
          h2.donthyphenate Пенополистирол ПСБ-С 35 ТУ
        .col-sm-8
          p Плиты этой марки стоят дороже популярных изделий ПСБ–С 25, но если купить пенополистирол именно с показателем максимальной плотности до 35 кг/м
            sup 3
            | , то вложенные средства не станут пустой тратой денег. Теплосберегающие характеристики материала находятся на таком уровне, что позволяют использовать его в строительстве там, где предъявляются повышенные требования.
          p Вторая буква «С» в маркировке означает «самозатухающий» и указывает на пожаробезопасность утеплителя. Подтверждается это и группой горючести Г3: у такого пенопласта длительность собственного горения составляет всего несколько секунд.
          p Прочностные показатели достаточны для теплозащиты конструкций, испытывающих значительные механические нагрузки. Можно утеплять пенополистиролом марки ПСБ–С 35 ТУ промышленные полы заводских цехов, гаражей и паркингов. Плиты хорошо переносят атмосферные воздействия на крышах зданий. В составе изделий нет опасных компонентов, что соответствует строгим экологическим и санитарным нормам.
          p.text-center Применяется для утепления:
          ul.list-inline
            li.list-inline__item Полов под стяжку
            li.list-inline__item Тёплого пола
            li.list-inline__item Фундамента
            li.list-inline__item Стен в подвальных помещениях
          table.material-table
            caption.material-table__caption Технические характеристики: «KLESTER System» ПСБ-С 35 ТУ
            tr.material-table__row
              td.material-table__cell Толщина:
              td.material-table__cell 30 / 50 / 80 / 100 мм
            tr.material-table__row
              td.material-table__cell В упаковке:
              td.material-table__cell 20 / 12 / 7 / 6 шт
            tr.material-table__row
              td.material-table__cell Плотность:
              td.material-table__cell 17 кг/м
                sup 3
            tr.material-table__row
              td.material-table__cell Теплопроводность:
              td.material-table__cell 0,036 Вт/м·К
            tr.material-table__row
              td.material-table__cell Прочность на сжатие:
              td.material-table__cell 80 кПа
            tr.material-table__row
              td.material-table__cell Прочность на разрыв:
              td.material-table__cell 115 кПа
            tr.material-table__row
              td.material-table__cell Предел прочности при изгибе:
              td.material-table__cell 125 кПа
            tr.material-table__row
              td.material-table__cell Водопоглощение по объему за 24ч:
              td.material-table__cell 2%
            tr.material-table__row
              td.material-table__cell Группа горючести:
              td.material-table__cell Г3
        .col-sm-4
          img.img-responsive(src="../../img/eps-item.png" alt="Пенополистирол ПСБ-С 35 ТУ")
          p.catalog__price 2799 руб. м
            sup 3
        .col-sm-6
          p Такой пенополистирол востребован в Калининграде при устройстве стяжки под напольные покрытия, в тёплых полах разной конструкции. Низкая степень водопоглощения панелей оптимальна для теплоизоляции элементов зданий, контактирующих с грунтовой влагой — фундаменты, цоколи и подвальные помещения.
        .col-sm-6
          p Полистирольные листы удобны и просты в монтаже: для работы с ними не требуется особых инструментов и специальных средств. Пенопласт легко режется, не крошится, поэтому активно используется для теплоизоляции конструкций сложной конфигурации.

    include ../../_section/_block/_features-item.jade

    include ../../_section/_block/_footer/_footer-level-3.jade

    // ☢ Подключаем скрипты ☢
    include ../../_section/_script/_script-ie.jade
    script(src="../../js/jquery-3.2.1.slim.min.js")
    script(src="../../js/Hyphenator.js")
    script(src="../../js/outdatedbrowser.min.js")
    script(src="../../js/custom.js")
    script.
      Hyphenator.run();
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
          func();
          }
        }
      }
      //call plugin function after DOM ready
      addLoadEvent(function(){
        outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'transform',
          languagePath: '../../js/lang/ru.html'
        })
      });
      (function(){ var widget_id = 'gtx7Ntq4Zr';var d=document;var w=window;function l(){
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    include ../../_section/_script/_metrika.jade