table.material-table
  tr.material-table__row
    td.material-table__cell
    td.material-table__cell__centred.strong 15 ТУ
    td.material-table__cell__centred.strong 15 ГОСТ
    td.material-table__cell__centred.strong 25 ТУ
    td.material-table__cell__centred.strong 25 ГОСТ
    td.material-table__cell__centred.strong 35 ТУ
    td.material-table__cell__centred.strong 35 ТУ Супер
  tr.material-table__row
    td.material-table__cell.strong Плотность (кг/м&sup3;):
    td.material-table__cell__centred 9
    td.material-table__cell__centred 11
    td.material-table__cell__centred 13
    td.material-table__cell__centred 15
    td.material-table__cell__centred 17
    td.material-table__cell__centred 19
  tr.material-table__row
    td.material-table__cell.strong Теплопроводность (Вт/м·К):
    td.material-table__cell__centred 0,044
    td.material-table__cell__centred 0,043
    td.material-table__cell__centred 0,039
    td.material-table__cell__centred 0,038
    td.material-table__cell__centred 0,036
    td.material-table__cell__centred 0,035
  tr.material-table__row
    td.material-table__cell.strong Для утепления перегородок:
    td.material-table__cell__centred +
    td.material-table__cell__centred +
    td.material-table__cell__centred +
    td.material-table__cell__centred +
    td.material-table__cell__centred +
    td.material-table__cell__centred +
  tr.material-table__row
    td.material-table__cell.strong Для утепления фасадов:
    td.material-table__cell__centred &minus;
    td.material-table__cell__centred &minus;
    td.material-table__cell__centred +
    td.material-table__cell__centred +
    td.material-table__cell__centred +
    td.material-table__cell__centred +
  tr.material-table__row
    td.material-table__cell.strong Для утепления пола:
    td.material-table__cell__centred &minus;
    td.material-table__cell__centred &minus;
    td.material-table__cell__centred &minus;
    td.material-table__cell__centred &minus;
    td.material-table__cell__centred +
    td.material-table__cell__centred +
  tr.material-table__row
    td.material-table__cell.strong Стоимость за куб:
    td.material-table__cell__centred 1299 &#8381;
    td.material-table__cell__centred 1639 &#8381;
    td.material-table__cell__centred 1890 &#8381;
    td.material-table__cell__centred 2190 &#8381;
    td.material-table__cell__centred 2490 &#8381;
    td.material-table__cell__centred 2999 &#8381;