section.container.features
  .row
    .col-sm-4
      img.features__img(src="../../img/icon/features/thermometer.png" alt="Низкая теплопроводность пенопласта")
      .features__title Низкая теплопроводность
      .features__description: p Это основополагающее свойство полистирола. Тёплый воздух не покинет помещение в холодное время года, а в жаркие месяцы удержит прохладу в здании.
    .col-sm-4
      img.features__img(src="../../img/icon/features/wave.png" alt="Высокая водостойкость пенопласта")
      .features__title Высокая водостойкость
      .features__description: p Пенополистирол работает подобно паронепроницаемой мембраны, он не пропускает влагу через базовый отделочный слой внутрь фасада и не накапливает влагу.
    .col-sm-4
      img.features__img(src="../../img/icon/features/flame.png" alt="Пенопласт не горит")
      .features__title Не горит
      .features__description: p В составе нашего полистирола добавлены антипирены, благодаря чему время горения составляет не более двух секунд. По классификации строительных материалов группа горючести — Г3.
    .clearfix
    .col-sm-4
      img.features__img(src="../../img/icon/features/money.png" alt="Дешёвый пенопласт")
      .features__title Низкая цена
      .features__description: p При аналогичных теплоизоляционных качествах пенопласт стоит гораздо ниже, чем другие теплоизоляционные материалы.
    .col-sm-4
      img.features__img(src="../../img/icon/features/plant.png" alt="Минимальный срок службы пенопласта 60 лет")
      .features__title Биоустойчив
      .features__description: p Минимальный срок службы — 60 лет, за это время пенополистирол не разлагается и не гниёт.
    .col-sm-4
      img.features__img(src="../../img/icon/features/light-bulb.png" alt="Пенопласт прост и удобен в работе")
      .features__title Прост и удобен
      .features__description: p Лёгкость материала и проста применения сокращает сроки и бюджет утепления.