.col-sm-6.merge_psb
  .merge__decription
    p.merge__decription_subtitle.merge__col.merge__col-left Паропропускаемость пенополистирола
    p Пенополистирол в случае чрезмерного увлажнения фасада, выполняет роль паровой мембраны и фактически не пропускает влагу, через базовый отделочный слой снаружи помещения. При этом физические свойства пенополистирола не позволят накопить влагу внутри себя, и он выведет её через неплотности в сторону улицы.
    p.merge__decription_subtitle.merge__col.merge__col-left Теплопроводность пенополистирола
    p У пенополистирола и минеральной ваты практически одинаковые характеристики теплопроводности.
    p.merge__decription_subtitle.merge__col.merge__col-left Монтаж пенополистирола
    p Пенопласт более упругий и стойкий материал к механическим воздействиям, его удобно резать, шлифовать, клеить. При монтаже стыки заделываются монтажной пеной или клеем, что бы удалить «мостики холода». В целом с пенополистиролом работать удобнее, и для монтажа не нужно использовать специальные инструменты и спец. одежду.
    p.merge__decription_subtitle.merge__col.merge__col-left Стоимость пенополистирола
    p При выборе теплоизоляционного материала стоит уделить должное внимание стоимости. Здесь однозначно выигрывает пенополистирол, его цена гораздо ниже минеральной ваты.

.col-sm-6.hidden-xs
  .merge__decription
    p.merge__decription_subtitle.merge__col.merge__col-right Паропропускаемость минеральной ваты
    p Известно, что каменная вата лучше пропускает пар и влагу, чем пенопласт. При этом максимальная паропроницаемость системы утепления остаётся в диапазоне, материала, который обладает наименьшей паропроницаемостью. Следовательно, эксплуатация каменной ваты в полностью полимерных системах это большой риск, так как базовый отделочный слой обладает низкой паропроницаемостью. В такой системе даже небольшое увлажнение минераловатного слоя существенно снизит теплоизолирующие свойства и даже приведёт систему к разрушению.
    p.merge__decription_subtitle.merge__col.merge__col-right Теплопроводность минеральной ваты
    p У пенополистирола и минеральной ваты практически одинаковые характеристики теплопроводности.
    p.merge__decription_subtitle.merge__col.merge__col-right Монтаж минеральной ваты
    p Мин. вата только в плитах может быть упругой и сохранять механическую стойкость в каркасах и на фасадах.
    p.merge__decription_subtitle.merge__col.merge__col-right Стоимость минеральной ваты
    p Каменная вата стоит дороже, чем пенопласт, по этому следует хорошо обдумать, хотите ли вы потратить больше и получить тот же эффект.

.col-xs-12
  table.material-table
    caption.material-table__caption Сравнительная таблица
    tr.material-table__row
      th.material-table__cell Показатели
      th.material-table__cell__centred Пенополистирол
      th.material-table__cell__centred Каменная вата
    tr.material-table__row
      td.material-table__cell Коэффициент теплопроводности, Вт/мK
      td.material-table__cell__centred 0,032-0,035
      td.material-table__cell__centred 0,045-0,05 (сухая) 0,18-0,2 (влажная)
    tr.material-table__row
      td.material-table__cell Мостики холода
      td.material-table__cell__centred Да
      td.material-table__cell__centred Да
    tr.material-table__row
      td.material-table__cell Наличие слоя паропроницаемости, мг/(м ч Па)
      td.material-table__cell__centred 0,001
      td.material-table__cell__centred 0,5
    tr.material-table__row
      td.material-table__cell Водопоглощение по массе, %
      td.material-table__cell__centred 0,5
      td.material-table__cell__centred 10-15
    tr.material-table__row
      td.material-table__cell Проведение работ
      td.material-table__cell__centred +5°С … +30°C
      td.material-table__cell__centred +5°С … +30°C
    tr.material-table__row
      td.material-table__cell Температура применения
      td.material-table__cell__centred -50°C … +75°C
      td.material-table__cell__centred -60°C … +270°C
    tr.material-table__row
      td.material-table__cell Микроорганизмы, грызуны
      td.material-table__cell__centred устойчив
      td.material-table__cell__centred неустойчив
    tr.material-table__row
      td.material-table__cell Влага, агрессивные среды
      td.material-table__cell__centred устойчив
      td.material-table__cell__centred теплоизоляционные свойства теряются, восстановлению не подлежат
    tr.material-table__row
      td.material-table__cell Усадка при эксплуатации
      td.material-table__cell__centred нет
      td.material-table__cell__centred да
    tr.material-table__row
      td.material-table__cell Эффективный срок службы
      td.material-table__cell__centred 15-30 лет
      td.material-table__cell__centred 5 лет
    tr.material-table__row
      td.material-table__cell Группа горючести
      td.material-table__cell__centred Г4
      td.material-table__cell__centred НГ-Г1
    tr.material-table__row
      td.material-table__cell Фактические тепловые потери
      td.material-table__cell__centred В 1,7 раза ниже нормативных СниП 2.04.14-88 Энергосбережение, №1, 1999 г.
      td.material-table__cell__centred Превышение нормативных СниП после 12 месяцев эксплуатации