.col-sm-6.merge_psb
  .merge__decription
    p.merge__decription_subtitle.merge__col.merge__col-left Паропропускаемость пенополистирола
    p Пенополистирол в случае чрезмерного увлажнения фасада, выполняет роль паровой мембраны и фактически не пропускает влагу, через базовый отделочный слой снаружи помещения. При этом физические свойства пенополистирола не позволят накопить влагу внутри себя, и он выведет её через неплотности в сторону улицы.
    p.merge__decription_subtitle.merge__col.merge__col-left Теплопроводность пенополистирола
    p У пенополистирола и минеральной ваты практически одинаковые характеристики теплопроводности.
    p.merge__decription_subtitle.merge__col.merge__col-left Монтаж пенополистирола
    p Пенопласт более упругий и стойкий материал к механическим воздействиям, его удобно резать, шлифовать, клеить. При монтаже стыки заделываются монтажной пеной или клеем, что бы удалить «мостики холода». В целом с пенополистиролом работать удобнее, и для монтажа не нужно использовать специальные инструменты и спец. одежду.
    p.merge__decription_subtitle.merge__col.merge__col-left Стоимость пенополистирола
    p При выборе теплоизоляционного материала стоит уделить должное внимание стоимости. Здесь однозначно выигрывает пенополистирол, его цена гораздо ниже минеральной ваты.

.col-sm-6.hidden-xs
  .merge__decription
    p.merge__decription_subtitle.merge__col.merge__col-right Паропропускаемость минеральной ваты
    p Известно, что каменная вата лучше пропускает пар и влагу, чем пенопласт. При этом максимальная паропроницаемость системы утепления остаётся в диапазоне, материала, который обладает наименьшей паропроницаемостью. Следовательно, эксплуатация каменной ваты в полностью полимерных системах это большой риск, так как базовый отделочный слой обладает низкой паропроницаемостью. В такой системе даже небольшое увлажнение минераловатного слоя существенно снизит теплоизолирующие свойства и даже приведёт систему к разрушению.
    p.merge__decription_subtitle.merge__col.merge__col-right Теплопроводность минеральной ваты
    p У пенополистирола и минеральной ваты практически одинаковые характеристики теплопроводности.
    p.merge__decription_subtitle.merge__col.merge__col-right Монтаж минеральной ваты
    p Мин. вата только в плитах может быть упругой и сохранять механическую стойкость в каркасах и на фасадах.
    p.merge__decription_subtitle.merge__col.merge__col-right Стоимость минеральной ваты
    p Каменная вата стоит дороже, чем пенопласт, по этому следует хорошо обдумать, хотите ли вы потратить больше и получить тот же эффект.