.vertical.slider
  .slider__item-adaptive-height
    video.img-responsive(controls="controls" preload="none" poster="video/cover.jpg")
      source.embed-responsive-item(src="video/klester.mp4" type="video/mp4")
  .slider__item-adaptive-height
    img.img-responsive(src="img/slik-photo/slik5.jpg" alt="Производство пенополистирола")
  .slider__item-adaptive-height
    img.img-responsive(src="img/slik-photo/slik3.jpg" alt="Производство пенополистирола")
  .slider__item-adaptive-height
    img.img-responsive(src="img/slik-photo/slik2.jpg" alt="Производство пенополистирола")
  .slider__item-adaptive-height
    img.img-responsive(src="img/slik-photo/slik1.jpg" alt="Производство пенополистирола")
  .slider__item-adaptive-height
    img.img-responsive(src="img/slik-photo/slik4.jpg" alt="Производство пенополистирола")