doctype
html(lang="ru")
  head

    // ☢ Служебные ☢
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")

    // ☢ DNS-Предзагрузка ☢
    title Пенополистирол ПСБ-С 15 ГОСТ цена / KLESTER
    meta(name="description" content="Цена за куб пенополистирол ПСБ-С 15 ГОСТ, всегда в наличии. Доставка по Калининградской области. Применяется для утепления балконов, бытовок, перегородок.")
    meta(name="keywords" content="пенополистирол, пенопласт, псб-с, купить, цена, калининград, производитель, утепление, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://penoplast-klester.ru/catalog/penopolistirol-15-gost/")

    // ☢ Подключение CSS ☢
    link(rel="stylesheet" type="text/css" href="../../css/main.css")
    // ⚠️ Подключение в web-master ⚠️
    include ../../_section/_web-master.jade

    // ⚠️ Favicon для всех случаев генерируется тут: http://realfavicongenerator.net/ ⚠️
    link(rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png")

    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Цена на пенополистирол ПСБ-С 15 ГОСТ")
    meta(property="og:description" content="Цена на пенополистирол (пенопласт) ПСБ-С 15 ГОСТ, всегда в наличии. Доставка по Калининградской области. Применяется для утепления балконов, бытовок, перегородок.")
    meta(property="og:image" content="../../img/eps-item.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://penoplast-klester.ru/catalog/penopolistirol-15-gost/")

    // © Copyright ©
    meta(name="author" content="Роман Волгасов")
    link(type="text/plain" rel="author" href="http://romanvolgasov.ru/humans.txt")

  body.hyphenate
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Пенополистирол ПСБ-С 15 ГОСТ цена
            include ../../_section/_menu/_top-menu-level-2.jade
            include ../../_section/_block/_address.jade

    section.container
      .row
        .col-xs-12
          h2.donthyphenate ПСБ-С 15 ГОСТ
        .col-xs-12.col-sm-8 
          .tab
            nav
              h3.sr-only Навигация по содержимому
              ul.tab__list
                li.tab__list-item Назначение
                li.tab__list-item Технические характеристики
                li.tab__list-item Сравнить с другими марками

            .tab__container
              .tab__item-block
                p.tab__item-description.text-center Применяется для утепления:
                ul.list-inline
                  li.list-inline__item Перегородок
                  li.list-inline__item Балконов
                  li.list-inline__item Контейнеров
                  li.list-inline__item Межэтажных и чердачных перекрытий
                p.tab__item-description Такой пенополистирол в Калининграде известен и популярен неспроста. Продукт обладает бесспорными достоинствами, выпускается нашим предприятием и реализуется напрямую.
                p.tab__item-description При монтаже не требуется применение каких-либо средств защиты, сложных технологических приёмов и много времени. Представленный материал произведён и маркирован в соответствии с ГОСТ 15588, что полностью гарантирует его качество. Однородный белый цвет пенопласта, отсутствие сколов и расслоений являются подтверждением его качества.
                p.tab__item-description Вспененный полистирол, или проще — пенопласт, не поддерживает горение. Вторая буква «С» в аббревиатуре означает «самозатухающий», а значит материал пожаробезопасен. Он безвреден для здоровья, не позволяет размножаться грибку и плесени. Плиты рекомендованы для жилых помещений, утеплить пенополистиролом можно даже пищевые контейнеры.
                p.tab__item-description В структуре материала нет легко впитывающих влагу волокон, что способствует его низкому уровню влагопоглощения. Утеплитель имеет необходимую прочность и плотность для обеспечения требуемой теплоизоляции внутренних перегородок, междуэтажных перекрытий, балконов, небольших модульных построек.
              .tab__item-block
                table.material-table
                  caption.material-table__caption Технические характеристики: «KLESTER System» ПСБ-С 15 ГОСТ
                  tr.material-table__row
                    td.material-table__cell Толщина:
                    td.material-table__cell 30 / 50 / 80 / 100 мм
                  tr.material-table__row
                    td.material-table__cell В упаковке:
                    td.material-table__cell 20 / 12 / 7 / 6 шт
                  tr.material-table__row
                    td.material-table__cell Плотность:
                    td.material-table__cell 11 кг/м
                      sup 3
                  tr.material-table__row
                    td.material-table__cell Теплопроводность:
                    td.material-table__cell 0,043 Вт/м·К
                  tr.material-table__row
                    td.material-table__cell Прочность на сжатие:
                    td.material-table__cell 50 кПа
                  tr.material-table__row
                    td.material-table__cell Прочность на разрыв:
                    td.material-table__cell 70 кПа
                  tr.material-table__row
                    td.material-table__cell Предел прочности при изгибе:
                    td.material-table__cell 65 кПа
                  tr.material-table__row
                    td.material-table__cell Водопоглощение по объему за 24ч:
                    td.material-table__cell 2,5%
                  tr.material-table__row
                    td.material-table__cell Группа горючести:
                    td.material-table__cell Г3
              .tab__item-block
                include ../../_section/_block/_compare-table.jade
        .col-xs-12.col-sm-4
          img.img-responsive(src="../../img/eps-item.png" alt="Пенополистирол ПСБ-С 15 ГОСТ")
          p.catalog__price 1490 руб. м
            sup 3

    include ../../_section/_block/_features-item.jade

    include ../../_section/_block/_footer/_footer-level-3.jade

    // ☢ Подключаем скрипты ☢
    include ../../_section/_script/_script-ie.jade
    script(src="../../js/jquery-3.2.1.min.js")
    script(src="../../js/Hyphenator.js")
    script(src="../../js/outdatedbrowser.min.js")
    script(src="../../js/custom.js")
    script.
      Hyphenator.run();
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
          func();
          }
        }
      }
      //call plugin function after DOM ready
      addLoadEvent(function(){
        outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'transform',
          languagePath: '../../js/lang/ru.html'
        })
      });
      (function(){ var widget_id = 'gtx7Ntq4Zr';var d=document;var w=window;function l(){
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    include ../../_section/_script/_metrika.jade