$bg-color: #F5F5F5

.footer
  background: $bg-color url('../img/pattern/geometry.png') repeat
  min-height: 22rem
  position: relative

.map
  padding: 2rem 0

.address-footer
  padding: 2rem 0
  @media (min-width: 768px) and (max-width: 991px)
    > .phone
      font-size: 1.6rem
  > .street
    word-wrap: break-word
    font-size: 0.9rem