doctype
html(lang="ru")
  head

    // ☢ Служебные ☢
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")

    // ☢ DNS-Предзагрузка ☢
    title О торговой марке «KLESTER System»
    meta(name="description" content="«KLESTER System» — производитель пенополистирола №1 в Калининграде. Доставка пенопласта на объект. Низкие цены, наличие на складе")
    meta(name="keywords" content="пенополистирол, пенопласт, псб-с, купить, цена, калининград, производитель, утепление, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://penoplast-klester.ru/about/")

    // ☢ Подключение CSS ☢
    link(rel="stylesheet" type="text/css" href="../css/main.css")
    // ⚠️ Подключение в web-master ⚠️
    include ../_section/_web-master.jade

    // ⚠️ Favicon для всех случаев генерируется тут: http://realfavicongenerator.net/ ⚠️
    link(rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png")

    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="О торговой марке «KLESTER System»")
    meta(property="og:description" content="«KLESTER System» — производитель пенополистирола №1 в Калининграде. Доставка пенопласта на объект. Низкие цены, наличие на складе")
    meta(property="og:image" content="../img/eps-item.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://penoplast-klester.ru/about/")

    // © Copyright ©
    meta(name="author" content="Роман Волгасов")
    meta(type="text/plain" rel="author" href="http://romanvolgasov.ru/humans.txt")

  body.hyphenate
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only О торговой марке «KLESTER System»
            include ../_section/_menu/_top-menu-level-2.jade
            include ../_section/_block/_address.jade

    article.container
      .row
        .col-xs-12
          h2.donthyphenate Торговая марка «KLESTER System»
        .col-xs-12
          p Компания «KLESTER System» производит пенополистирол для фасадных работ по усовершенствованным технологиям, на разработку которых ушло более 10 лет. Основные преимущества нашего продукта — системный подход к производству, высокое качество и выгодная стоимость.
        .col-xs-12
          h3.donthyphenate Собственное производство в Калининграде
        .col-md-6
          p Все производственные и логистические процессы отлажены с нуля на собственных мощностях в Калининградской области. Сегодня в нашем активе:
          ul
            li Передовое европейское оборудование — парогенераторы, сушилки.
            li Штат опытных специалистов — лучшие кадры в сфере производства фасадных материалов.
            li Стандартизированное производство — контроль качества на каждом этапе.
            li Оборудованный автопарк — 9 автомобилей с различной грузоподъемностью.
          p Сотрудничая с нами, вы гарантированно получаете качественные стройматериалы, в которых мы уверены. Наш грузовой транспорт осуществит доставку пенополистирола до объекта в целости и сохранности, в точно оговоренный срок.
        .col-md-6
          a(data-fancybox="group" data-caption="Собственное производство пенополистирола в Калининграде" href="../img/slik-photo/slik1.jpg")
            img.img-responsive.mt-1(src="../img/slik-photo/slik1.jpg" alt="Собственное производство пенополистирола в Калининграде")
        .col-xs-12
          h3.donthyphenate Качество продукции «KLESTER System»
        .col-sm-6
          p Характеристики стройматериалов под маркой «KLESTER System» полностью соответствуют концепции «Здоровый дом». За счёт использования в строительстве качественного сырья, фасад дома, утепленный по нашей системе, способствует улучшению условий жизни.
          p Мы предлагаем надёжные материалы, полностью отвечающие ожиданиям строителей. Поэтому о нашем пенополистироле отзывы исключительно положительные, ведь мы:
        .col-sm-6
          ol
            li Используем экологичное сырье — гранулы и другие компоненты без вредных примесей.
            li Предоставляем сертификаты и свидетельства Госстроя.
            li Имеем награды с выставок, посвящённых отделочным и строительным технологиям.
        .col-xs-12
          h3.donthyphenate Конкурентоспособные цены
        .col-xs-12
          p Заказывайте пенополистирол в Калининграде – даже с учётом доставки стоимость 1 кв. м. дешевле, чем у других европейских производителей соответствующего класса. При этом за нами стоит:
        .col-sm-6
          ul
            li Неизменное качество — мы полностью контролируем производственный процесс.
            li Оптимизированная логистика — вы дополнительно сэкономите на транспортировке.
        .col-sm-6
          ul
            li Доверие партнеров — у нас покупают крупнейшие торговые сети Калининграда.
            li Безупречная репутация — все эксперты рынка однозначны в своей позитивной оценке.
        .col-xs-12
          p Мы нацелены на долгосрочное партнёрство, планируем дальнейшее увеличение объёмов выпуска продукции и расширение парка транспорта. Всё это в будущем обеспечит укрепление наших позиций как производителя высококонкурентных стройматериалов.

    include ../_section/_block/_footer/_footer-level-2.jade
    script(src="../js/jquery-3.2.1.slim.min.js")
    script(src="../js/Hyphenator.js")
    script(src="../js/outdatedbrowser.min.js")
    script(src="../js/custom.js")
    script.
      Hyphenator.run();
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
          func();
          }
        }
      }
      //call plugin function after DOM ready
      addLoadEvent(function(){
        outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'transform',
          languagePath: '../js/lang/ru.html'
        })
      });
      (function(){ var widget_id = 'gtx7Ntq4Zr';var d=document;var w=window;function l(){
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    include ../_section/_script/_metrika.jade