footer.container-fluid.footer
  .container
    .row
      .col-sm-4
        nav
          h2.sr-only Навигация по сайту
          ul.bottom-nav
            li.bottom-nav__item: a.bottom-nav__link(href="../../" title="пенополистирол купить в калининграде") Главная
            //- li.bottom-nav__item: a.bottom-nav__link(href="../../catalog/" title="полистирол в калининграде купить") Каталог продукции
            li.bottom-nav__item: a.bottom-nav__link(href="../../about/" title="производство пенополистирола") О компании
            li.bottom-nav__item: a.bottom-nav__link(href="../../tekhnologiya/" title="технология утепления пенополистиролом") Технология утепления
            li.bottom-nav__item: a.bottom-nav__link(href="https://2gis.ru/kaliningrad/geo/5630135189394504%2C20.454708%2C54.761507?queryState=center%2F20.454386%2C54.761083%2Fzoom%2F17" target="_blank" title="пенопласт калининград") Где купить?
            li.bottom-nav__item: a.bottom-nav__link(href="#top" title="В начало страницы") В начало страницы
        span.copyright © ООО «Райве-Калининград», 2017
      .col-sm-4
        address.address-footer.pull-right.text-right
          p.phone +7 (4012) 999‒119
          p Магазин «Деловая Русь»
          p.street ул. Большая Окружная д.20
          p Открыты ежедневно: с 8:00 до 19:00
        a.btn-flat.orange.pull-right.donthyphenate(href="#chat" onclick="jivo_api.open();") Связаться с нами
      .col-sm-4
        a(href="https://2gis.ru/kaliningrad/geo/5630135189394504%2C20.454708%2C54.761507?queryState=center%2F20.454386%2C54.761083%2Fzoom%2F17" title="где купить пенополистирол" target="_blank")
          img.img-responsive.map(src="../../img/map.png" alt="Где купить пенополистирол")
      .col-xs-12
        p ИНН: 3906192635 | КПП: 390601001 | ОГРН: 1083925006880