doctype
html(lang="ru")
  head

    // ☢ Служебные ☢
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no")

    // ☢ DNS-Предзагрузка ☢
    title Пенопласт ПСБ-С 15 ТУ цена / KLESTER
    meta(name="description" content="Купить пенопласт для перегородок, толщины: 50 мм, 80 мм, 100 мм. Пенопласт применяется для утепления перегородок, балконов, бытовок. Доставка по Калининграду и области.")
    meta(name="keywords" content="пенополистирол, пенопласт, псб-с, купить, цена, калининград, производитель, утепление, klester, ")
    meta(name="robots" content="all")
    link(rel="canonical" href="http://penoplast-klester.ru/catalog/penopolistirol-15-tu/")

    // ☢ Подключение CSS ☢
    link(rel="stylesheet" type="text/css" href="../../css/main.css")
    // ⚠️ Подключение в web-master ⚠️
    include ../../_section/_web-master.jade

    // ⚠️ Favicon для всех случаев генерируется тут: http://realfavicongenerator.net/ ⚠️
    link(rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png")

    // ⚠️ OPEN GRAPH ⚠️
    meta(property="og:title" content="Пенополистирол ПСБ-С 15 ТУ в Калининграде")
    meta(property="og:description" content="Купить пенополистирол ПСБ-С 15 ТУ, толщины: 50 мм, 80 мм, 100 мм. Применяется для утепления перегородок, балконов, бытовок. Доставка по Калининграду и области.")
    meta(property="og:image" content="../../img/eps-item.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://penoplast-klester.ru/catalog/penopolistirol-15-tu/")

    // © Copyright ©
    meta(name="author" content="Роман Волгасов")
    link(type="text/plain" rel="author" href="http://romanvolgasov.ru/")

  body.hyphenate
    .outdated
    .container-fluid.header
      header.container#top
        .row
          .col-xs-12
            h1.sr-only Пенопласт ПСБ-С 15 ТУ цена
            include ../../_section/_menu/_top-menu-level-2.jade
            include ../../_section/_block/_address.jade

    section.container
      .row
        .col-xs-12
          h2.donthyphenate ПСБ-С 15 ТУ
        .col-xs-12.col-sm-8
          .tab
            nav
              h3.sr-only Навигация по содержимому
              ul.tab__list
                li.tab__list-item Назначение
                li.tab__list-item Технические характеристики
                li.tab__list-item Сравнить
                li.tab__list-item Видео

            .tab__container
              .tab__item-block
                p.tab__item-description.text-center Применяется для утепления:
                ul.list-inline
                  li.list-inline__item Перегородок
                  li.list-inline__item Балконов
                  li.list-inline__item Контейнеров
                  li.list-inline__item Межэтажных и чердачных перекрытий
                p.tab__item-description 
                  strong Особенности марки:
                  |  ПСБ-С 15 имеет наименьшую плотность среди пенопластов ПСБ. Изготавливается промышленным способом путём вспенивания гранул полистирола и последующим спеканием их между собой при помощи воды или пара. Белого цвета. Не имеет запаха. Экологически чистый. Это самая дешёвая марка пенопласта.
                p.tab__item-description 
                  strong Области применения пенопласта ПСБ-С 15:
                  |  тепло- и звукоизоляции конструкций, которые не подвергаются сильному механическому воздействию и где не требуется высокая прочность пенопласта. Основная сфера применения — теплоизоляция стен, полов, перекрытий. Также ПСБ-С 15 утепляют бытовки, вагоны, контейнеры и т.п.
                p.tab__item-description Пенопласт ПСБ 15 биологически безопасен, не подвержен воздействию вредных микроорганизмов, устойчив к воздействию влаги и старению.
                p
                  a.top-nav__item.top-nav__item_btn(href="#chat" onclick="jivo_api.open();") Сделать заказ
                p.tab__item-description 
                  strong Важно знать!
                  |  Закажите товар через чат → Оплатите счёт → Получите заказ.
                
              .tab__item-block
                table.material-table
                  caption.material-table__caption Технические характеристики: «KLESTER System» ПСБ-С 15 ТУ
                  tr.material-table__row
                    td.material-table__cell Толщина:
                    td.material-table__cell 50 / 80 / 100 мм
                  tr.material-table__row
                    td.material-table__cell В упаковке:
                    td.material-table__cell 12 / 7 / 6 шт
                  tr.material-table__row
                    td.material-table__cell Площадь:
                    td.material-table__cell 6 / 3.5 / 3 м²
                  tr.material-table__row
                    td.material-table__cell Объём:
                    td.material-table__cell 0.3 / 0.28 / 0.3 м³
                  tr.material-table__row
                    td.material-table__cell Плотность:
                    td.material-table__cell 9 кг/м
                      sup 3
                  tr.material-table__row
                    td.material-table__cell Теплопроводность:
                    td.material-table__cell 0,044 Вт/м·К
                  tr.material-table__row
                    td.material-table__cell Прочность на сжатие:
                    td.material-table__cell 42 кПа
                  tr.material-table__row
                    td.material-table__cell Прочность на разрыв:
                    td.material-table__cell 50 кПа
                  tr.material-table__row
                    td.material-table__cell Предел прочности при изгибе:
                    td.material-table__cell 50 кПа
                  tr.material-table__row
                    td.material-table__cell Водопоглощение по объему за 24ч:
                    td.material-table__cell 2,5%
                  tr.material-table__row
                    td.material-table__cell Группа горючести:
                    td.material-table__cell Г3
              .tab__item-block
                include ../../_section/_block/_compare-table.jade
              .tab__item-block
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(width="560" height="315" src="https://www.youtube.com/embed/YxbhklCes7Q?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        .col-xs-12.col-sm-4
          img.img-responsive(src="../../img/eps-item.png" alt="Пенополистирол ПСБ-С 15 ТУ")
          p.catalog__price 1289 руб. м
            sup 3

    include ../../_section/_block/_features-item.jade

    include ../../_section/_block/_footer/_footer-level-3.jade

    // ☢ Подключаем скрипты ☢
    include ../../_section/_script/_script-ie.jade
    script(src="../../js/jquery-3.2.1.min.js")
    script(src="../../js/Hyphenator.js")
    script(src="../../js/outdatedbrowser.min.js")
    script(src="../../js/custom.js")
    script.
      Hyphenator.run();
      function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
          window.onload = func;
        } else {
          window.onload = function() {
            if (oldonload) {
              oldonload();
            }
          func();
          }
        }
      }
      //call plugin function after DOM ready
      addLoadEvent(function(){
        outdatedBrowser({
          bgColor: '#f25648',
          color: '#ffffff',
          lowerThan: 'transform',
          languagePath: '../../js/lang/ru.html'
        })
      });
      (function(){ var widget_id = 'gtx7Ntq4Zr';var d=document;var w=window;function l(){
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
    include ../../_section/_script/_metrika.jade